.main-container {
  padding-left: 10%;
  padding-right: 10%;
}

.title {
  display: flex;
  justify-content: center;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-container input {
  height: 2rem;
}

#submitButton {
  height: 2.37rem;
  margin-top: auto;
}

#date-input {
  height: 2.12rem;
}

.pac-container {
  width: 20% !important;
}
